:root {
  --main-bg-color: #282c34;
  --main-font-color: #fe885f;
  --main-bar-color: var(--main-font-color);
  --second-bar-color: red;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
